name: Spell check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    name: Codespell

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          skip: "**/*.i"
